.input-group input {
  width: 15vw;
  height: 6vh;
  padding-left: 5px;
}

.add-btn {
  width: 10vw;
  height: 7vh;
  background-color: rgb(0, 247, 165);
  border-radius: 8px;
  border: none;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.input-group {
  display: flex;
  gap: 1rem;
}

/*------------table--------------*/
.table-container {
  margin-top: 5vh;
}

.data-table {
  width: 45vw;
}

th {
  border: 1px double red;
}

.headings {
  background-color: rgb(0, 209, 245);
  color: black;
}

td {
  text-align: center;
  border: 1px dotted rgb(41, 196, 248);
  border-radius: 5px;
}

.edit {
  background-color: rgb(166, 166, 253);
}

.delete {
  background-color: rgb(246, 65, 65);
  margin-left: 3px;
}

.edit,
.delete {
  border: none;
  border-radius: 4px;
}

.page-number {
  background-color: rgb(185, 185, 185);
  border: none;
}